
header {
    margin-bottom: 20px;
}

.nota-form, .lista-notas {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-top: 15px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #f0f0f0;
}

.lista-notas h2 {
    margin-bottom: 10px;
}

#notasContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nota {
    background-color: #f9f9f9;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 200px;
    position: relative;
}

.nota p {
    word-wrap: break-word;
}

.nota button {
    background-color: #e74c3c;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.nota button:hover {
    background-color: #c0392b;
}
