
header {
    margin-bottom: 20px;
}

.tarea-form, .lista-tareas {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

button {
    background-color:#007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #007bff;
}

.lista-tareas h2 {
    margin-bottom: 10px;
}

#tareasContainer {
    list-style-type: none;
    padding: 0;
}

.tarea {
    background-color: #f9f9f9;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tarea p {
    margin: 0;
    flex-grow: 1;
    padding: 0 10px;
}

.completar {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.eliminar {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.completar:hover {
    background-color: #2980b9;
}

.eliminar:hover {
    background-color: #c0392b;
}

.completada {
    text-decoration: line-through;
    color: #888;
}
