<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Principal{% endblock %}</title>

		<!-- CSS común para todo el sitio -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/base.css') }}"
		/>

		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='img/icon.ico') }}"
			type="image/x-icon"
		/>

		<!-- Bloque para CSS específico de cada página -->
		{% block extra_css %}{% endblock %}

		<!-- Bloque para JavaScript específico de cada página -->
		{% block extra_js %}{% endblock %}
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1>{% block header_title %} Principal {% endblock %}</h1>
				<div class="icons">
					<a href="{{ url_for('calendario') }}">
						<div class="base-button">
							<i class="fa-regular fa-calendar"></i>
							<h5>Calendario</h5>
						</div>
					</a>
					<a href="{{ url_for('contactos') }}">
						<div class="base-button">
							<i class="fas fa-address-book"></i>
							<h5>Contactos</h5>
						</div>
					</a>
					<a href="{{ url_for('notas') }}">
						<div class="base-button">
							<i class="fas fa-sticky-note"></i>
							<h5>Notas</h5>
						</div>
					</a>
					<a href="{{ url_for('objetivos') }}">
						<div class="base-button">
							<i class="fas fa-bullseye"></i>
							<h5>Objetivos</h5>
						</div>
					</a>
					<a href="{{ url_for('reuniones') }}">
						<div class="base-button">
							<i class="fas fa-handshake"></i>
							<h5>Reuniones</h5>
						</div>
					</a>
					<a href="{{ url_for('tareas') }}">
						<div class="base-button">
							<i class="fas fa-tasks"></i>
							<h5>Tareas</h5>
						</div>
					</a>
				</div>
			</div>
		</header>
		<main>
			{% block content %}
			<!-- Aquí va el contenido específico de cada página -->
			{% endblock %}
		</main>

		<!-- <footer>
        <p>&copy; 2024 Mi aplicación</p>
    </footer> -->
	</body>
</html>
