{% extends 'base.html' %}

{% block title %}Calendario Mensual{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendario.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/calendario.js') }}"></script>
{% endblock %}

{% block header_title %} Calendario {% endblock %}

{% block content %}

<div id="calendario">
    <div class="controles">
        <button id="prevMes">Anterior</button>
        <span id="mesAnio"></span>
        <button id="nextMes">Siguiente</button>
    </div>
    <table id="tablaCalendario">
        <thead>
            <tr></tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="actividades">
    <h2>Actividades <span id="fechaSeleccionada"></span></h2>
    <input type="text" id="nuevaActividad" placeholder="Escribe una actividad" />
    <button id="agregarActividad">Agregar Actividad</button>
    <ul id="listaActividades"></ul>
</div>

{% endblock %}


