{% extends 'base.html' %}

{% block title %}Reuniones{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reuniones.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/reuniones.js') }}"></script>
{% endblock %}

{% block header_title %} Reuniones {% endblock %}

{% block content %}
    <section class="reunion-form">
        <h2>Programar Reunión</h2>
        <form id="formReunion">
            <div class="form-group">
                <label for="nombreReunion">Nombre de la reunión:</label>
                <input type="text" id="nombreReunion" placeholder="Nombre de la reunión" required>
            </div>
            <div class="form-group">
                <label for="fechaReunion">Fecha:</label>
                <input type="date" id="fechaReunion" required>
            </div>
            <div class="form-group">
                <label for="horaReunion">Hora:</label>
                <input type="time" id="horaReunion" required>
            </div>
            <button type="submit">Añadir Reunión</button>
        </form>
    </section>

    <section class="lista-reuniones">
        <h2>Reuniones Programadas</h2>
        <ul id="reunionesContainer"></ul>
    </section>

{% endblock %}
