{% extends 'base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tareas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/tareas.js') }}"></script>
{% endblock %}

{% block header_title %}<a href="{{ url_for('home') }}" title="Principal" style="text-decoration: none; color: white;"><i class="fa-solid fa-caret-left"></i></a> Lista de Tareas {% endblock %}

{% block content %}
    <section class="tarea-form">
        <h2>Agregar Tarea</h2>
        <form id="formTarea">
            <input type="text" id="nombreTarea" placeholder="Escribe tu tarea..." required>
            <button type="submit">Añadir Tarea</button>
        </form>
    </section>

    <section class="lista-tareas">
        <h2>Tareas Pendientes</h2>
        <ul id="tareasContainer"></ul>
    </section>

{% endblock %}
